.app {
  display: flex;
  width: 100%;
  margin: 0%;
  border-left: solid 3px grey;
  border-right: solid 3px grey;
}

.app_left {
  display: flexbox;
  width: 20%;
}

.app_right {
  display: flexbox;
  width: 70%;
}
